<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="server.directories.logs">/logs</Property>
    </Properties>
    
    <Appenders>
        <RollingRandomAccessFile name="QueryLog" 
                               fileName="${server.directories.logs}/query.log"
                               filePattern="${server.directories.logs}/query.log.%02i">
            <JsonTemplateLayout eventTemplateUri="classpath:org/neo4j/logging/QueryLogJsonLayout.json"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" max="7"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Logger name="org.neo4j.server.security.audit.QueryLogger" level="INFO" additivity="false">
            <AppenderRef ref="QueryLog"/>
        </Logger>
    </Loggers>
</Configuration>
